<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css" />
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap-responsive.css" />
  </head>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Menuborg</a>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="hero-unit">
        {{{yield}}}
      </div>
    </div>
  </body>
</html>
