<div id="app">
  <div id="content"></div>
</div>

<script type="text/template" id="itemTemplate">
  <td><a href="#{{id}}">{{name}}</a></td><td>{{servings}}</td>
</script>

<script type="text/template" id="listTemplate">
  <table id="recipes" class="table table-striped"></table>
  <a href="#new" class="btn">Add</a>
</script>

<script type="text/template" id="formTemplate">
  <form>
    <div class="control-group">
      <label class="control-label" for="name">Name</label>
      <div class="controls">
        <input type="text" class="input-xlarge" id="name" value="{{name}}" />
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="servings">Servings</label>
      <div class="controls">
        <input type="text" class="input-small" id="servings" value="{{servings}}"/>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="ingredients">Ingredients</label>
      <div class="controls">
        <textarea class="input-xlarge" id="ingredients">
{{#ingredients}}
{{.}}
{{/ingredients}}</textarea>
      </div>
    </p>
    <div class="form-actions">
      <button type="submit" class="btn btn-primary">Save changes</button>
      <a href="#" class="btn">Cancel</a>
    </div>
  </form>
</script>

<script type="text/template" id="viewTemplate">
  <a href="#{{id}}/edit" class="btn">Edit</a>
  <h2>{{name}}</h2>
  <span class="servings">{{servings}} servings</span>
  <ul class="ingredients">
  {{#ingredients}}
    <li>{{.}}</li>
  {{/ingredients}}
  </ul>
</script>
